.nav {
  background-color: bisque;
  font-size: 1.5rem;
}

.nav--list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav--list-item {
  list-style: none;
  padding-left: 25rem;
}

.nav--list-item--last {
 padding-right: 10rem;
}